*.DotSettings.user
*.[Rr]e[Ss]harper
*.booproj
*.csproj
*.pidb
*.resharper
*.sln
*.sublime-workspace
*.suo
*.unityproj
*.user
*.userprefs
.DS_Store
Thumbs.db
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
_ReSharper*/
